* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.redes {
    color: white;
    background-color: rgb(219, 115, 19);
    font-size: 50px;
    line-height: 40px;
    font-style: italic;
    padding-left: 30px;
    padding-top: 10px;
}

.galeriaFotos {
    position: relative;
    top: -350px;
    display: flex;
    align-items: center;
    /* UBICACIÓN UNO ABAJO DEL OTRO */
    flex-direction: column;
    text-align: center;
    align-content: flex-end;
    flex-wrap: wrap;
}

.linkInternos {
    font-weight: 600;
    font-size: 20px;
    color: black;
    background-color: rgb(247, 163, 85);
    padding-top: 10px;
    height: 50px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 20px 25px 30px 10px #000;
}

.caja1,
.caja2,
.caja3 {
    display: inline-block;
    margin: 5px;
    margin-left: 20px;
}

.contenedor1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 30px;
}

.logoCentral {
    position: relative;
    top: 80px;
    left: 35px;
}

.contenedor2 {
    margin: 10px;
}

.cotizador {
    border: 5px solid darkorange;
    padding: 20px;
    border-radius: 10%;
    position: relative;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    line-height: 1.2;
    margin-bottom: 10px;
}

.miniCuadro {
    display: flex;
    justify-content: space-between;
}

.input-cotizador {
    flex-grow: 1;
    margin-left: 10px;
}

.click {
    font-size: larger;
    width: 50%;
    margin: 0 auto;
    cursor: pointer;
}

.click1 {
    display: block;
    margin: 0 auto;
    font-size: larger;
}

.click1:hover{
    font-size: 20px;
}

.buttonClear {
    margin: 0 auto;
    display: block;
    width: 150px;
    height: 30px;
    font-size: 15px;
    font-weight: 900;
}

.piePagina {
    position: relative;
    margin-top: 100px;
    top: -10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: chocolate;
    font-size: medium;
    border: 5px ridge black;
    box-shadow: 20px 25px 30px 10px #000;
    z-index: 1;
}
.mensaje {
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid darkorange;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: darkorange;
    background-image: linear-gradient(to right, #ffecd2, #fcb69f); /* Gradiente de colores */
    z-index: 2; /* Asegurarse de que el mensaje tenga un valor de z-index mayor */
    display: none; /* Inicialmente oculto */
    animation: fadeInOut 3s ease-in-out; /* Nombre de la animación, duración, función de tiempo */
}
/* Esto hace mas suave la entrada y salida de mensaje*/
@keyframes fadeInOut {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.cotizaciones-realizadas {
    background-color: #f5f5f5;
    border: 1px solid #fd4f04;
    padding: 10px;
    display: none;
}
.cotizacion-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
    margin-bottom: 10px;
}

.cotizacion-item p {
    margin: 0;
}

.cotizacion-item button {
    background-color: darkorange;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.carrito {
    position: absolute;
    display: block;
    left: 90%;
    top: 1%;
}

#contadorCarrito {
    display: inline-block;
    background-color: #f29c65;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 24px;
    font-size: 18px;
    margin: 0;
    position: absolute;
    z-index: 1;
    left: 65px;
    top: -6px;
    border: 3px solid black;
}