/* ESTILO GENERAL PARA TODAS LAS PAGINAS */
* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* ESTILO GENREAL PARA ORGANIZACION DEL FOOTER DE TODAS LAS PAGINAS */
html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
footer{
    background-color: chocolate;
    font-size: medium;
    border: 5px ridge black;
    text-align: center;
    margin-top: 50px;
}
/* ESTILO GENERAL PARA EL HEADER DE TODAS LAS PAGINAS */
.redes {
    color: white;
    background-color: rgb(219, 115, 19);
    font-size: 50px;
    line-height: 40px;
    font-style: italic;
    padding-left: 30px;
    padding-top: 10px;
    height: 50px;
}
/* ESTILO GENERAL PARA LOS LINK SUPERIORES DE TODAS LAS PAGINAS */
.linkInternos {
    font-weight: 600;
    font-size: 20px;
    color: black;
    background-color: rgb(247, 163, 85);
    padding-top: 10px;
    height: 50px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 20px 25px 30px 10px #000;
}
/* CAJAS DE LINK GENERAL TODAS LAS PAGINAS */
.caja1, .caja2, .caja3 {
    display: inline-block;
    margin: 5px;
    margin-left: 20px;
}
/* CONTENEDOR DEL LOGO PRINCIPAL FLETES EL PANA TODAS LAS PAGINAS*/
.contenedor1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 30px;
    position: static;
    text-align: center !important;
}
/* LOGO PRINCIPAL FLETES EL PANA TODAS LAS PAGINAS*/
.logoCentral {
    position: relative;
    top: 80px;
    left: 35px;
}
/* IMAGEN DEL CARRITO DE COMPRAS TODAS LAS PAGINAS */
.carrito {
    position: absolute;
    display: block;
    left: 90%;
    top: 1%;
}
/* CONTADOR DE CARRITO DE COMPRAS TODAS LAS PAGINAS */
#amount {
    display: inline-block;
    background-color: #f29c65;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 24px;
    font-size: 18px;
    margin: 0;
    position: absolute;
    z-index: 1;
    left: 65px;
    top: -6px;
    border: 3px solid black;
}
/* IMAGEN DE FONDO PAGINA INDEX*/
.background{
    position: absolute;
    z-index: -1;
    opacity: 0.2;
    height: 951.8px;
    width: 100%;
}
/* ESTILO GALERIAS PAGINA INDEX*/
.galeriaFotos {
    background: #ffd197;
    border-radius: 2%;
    position: absolute;
    display: grid;
    justify-items: center;
    padding: 10px;
    line-height: 2;
    left: 85.3%;
    top: 27%;
}
.galeriaFotos img {
    margin-bottom: 20px; /* Ajusta espacio entre las imágenes */
}
/* CONTENEDOR BOTON DE ENLACE A COTIZADOR INDEX*/
.contenedor3 {
    text-align: center;
}
/* BOTON CLICK AQUI INDEX */
.buttonClick {
    display: inline-block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 25px;
    color: white;
    background-color: darkorange;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin: 15px;
}
.buttonClick:hover {
    background-color: #ff8c00; /* Cambiar el color al pasar el cursor por encima */
    transform: scale(1.05); /* Hacer que el botón se agrande ligeramente al pasar el cursor por encima */
}
/* AJUSTE DE ESPACIO */
.add {
    height: 300px;
}
/* CONTENEDOR DE LA PAGINA COTIZADOR */
.contenedor2 {
    margin: 10px;
    position: static;
}
/* CAJA DE LA PAGINA COTIZADOR */
.cotizador {
    border: 5px solid darkorange;
    padding: 20px;
    border-radius: 10%;
    position: relative;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    line-height: 1.2;
    margin-bottom: 10px;
    background: wheat;
}
/* LABEL DE NOMBRE Y EMAIL DE LA PAGINA COTIZADOR */
.miniCuadro {
    display: flex;
    justify-content: space-between;
}
/* INPUT DE NOMBRE Y EMAIL DE LA PAGINA COTIZADOR */
.input-cotizador {
    flex-grow: 1;
    margin-left: 10px;
}
/* BOTON DE COTIZAR DE LA PAGINA COTIZADOR */
.click {
    font-size: larger;
    width: 50%;
    margin: 0 auto;
    cursor: pointer;
}
.click1 {
    display: inline-block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 24px;
    color: white;
    background-color: darkorange;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.click1:hover {
    background-color: #ff8c00; /* Cambiar el color al pasar el cursor por encima */
    transform: scale(1.05); /* Hacer que el botón se agrande ligeramente al pasar el cursor por encima */
}
/* BOTON PARA BORRAR TODO DE LA PAGINA COTIZADOR */
.buttonClear {
    margin: 10px auto;
    display: block;
    width: 150px;
    height: 30px;
    font-size: 15px;
    font-weight: 900;
    position: static;
    margin-top: 20px;
}
/* BOTON PARA BORRAR COTIZACION INDIVIDUAL DE LA PAGINA COTIZADOR */
.cotizacion-item button {
    background-color: darkorange;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
/* MENSAJE TEMPORALAL DE LA PAGINA COTIZADOR */
.mensaje {
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid darkorange;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: darkorange;
    background-image: linear-gradient(to right, #ffecd2, #fcb69f); /* Gradiente de colores */
    z-index: 2;
    display: none; /* Inicialmente oculto */
    animation: fadeInOut 3s ease-in-out; /* Nombre de la animación, duración, función de tiempo */
}
@keyframes fadeInOut { /* Esto hace mas suave la entrada y salida de mensaje */ 
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}
/* BOX DONDE SE MUESTRAN LAS COTIZACIONES REALIZADAS DE LA PAGINA COTIZADOR */
.cotizaciones-realizadas {
    background-color: #f5f5f5;
    border: 4px solid #ff8c00;
    border-radius: 2%;
    padding: 10px;
    display: none;
    margin: 50px;
    margin-left: 180px;
    margin-right: 180px;
}
 /* COTIZACIONES REALIZADAS DE LA PAGINA COTIZADOR */
.cotizacion-item {
    background-color: #fff;
    border: 1px solid #ff8c00;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5%;
}
/* ESTILOS DEL RESUMEN DE LAS COTIZACIONES CUENTA USUARIO*/
.newDiv {
    background-color: #f5f5f5;
    border: 5px solid #000000;
    border-radius: 2%;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 20px;
}
/* LOGO DENTRO DE LA COTIZACION CUENTA USUARIO */
.logoCotizacion {
    position: absolute;
    right: 300px;
}
/* TEXTO SUPERIOR DATOS USUARIO CUENTA USUARIO */
.newText3 {
    font-size: 20px;
    line-height: 1.5;
    border-bottom: 3px solid #000000;
    padding: 15px;
}
/* TABLA DE LAS COTIZACIONES CUENTA USUSARIO */
.cotizaciones-table {
    border: 2px solid black;
    margin: 0;
    width: 100%;
    line-height: 4;
    text-align: center;
}
/* SUBTITULOS COMPRA DESCRIPCION Y COSTO CUENTA USUARIO */
thead {
    font-size: x-large;
}
/* TOTAL A PAGAR CUENTA USUARIO */
.total-row {
    background-color: #f5f5f5;
    font-weight: bold;
    text-align: right;
    padding-right: 40px;
    font-size: large;
}
/* SUBTITULO COTIZACIONES CUENTA USUARIO */
.h2class {
    padding: 10px;
}
/* ESTILO BOTONES PAGINA CUENTA USUARIO */
.clickCuenta, .payButton {
    display: inline-block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 15px;
    color: white;
    background-color: darkorange;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin: 15px;
}
.clickCuenta:hover, .payButton:hover {
    background-color: #ff8c00; /* Cambiar el color al pasar el cursor por encima */
    transform: scale(1.05); /* Hacer que el botón se agrande ligeramente al pasar el cursor por encima */
}
#buttons {
    margin: 0 auto;
}
/* BOTON DE LIBRERIA SWEETALERT CUENTA USUARIO */
.swal-button {
    background-color: #ff8c00;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.swal-button:not([disabled]):hover {
    background-color: #ff8c00;
    transform: scale(1.1); 
}