* {
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.click{
 font-size: large;
:hover{
    color: rgba(255, 98, 0, 0.912) !important;
    /*Dentro de un hover esto hace que resalte el boton al pasar por encima*/
    font-size: 20px;
}}
    /* Edicion de parte superior*/
.redes  {
    /* color de la letra*/
    color: white;
    /* color fondo del escrito*/
    background-color: rgb(219, 115, 19);
    /* Tamaño de la Letra*/
    font-size: 50px;
    /* tamaño de la caja arriba y abajo */
    line-height: 40px;
    /* Cursiva letra*/
    font-style: italic;
    /* Espacio entre la caja y escrito (lado izquierdo)*/
    padding-left: 30px;
    /* Espacio entre la caja y escrito (lado Superior)*/
    padding-top: 10px;
   
}
.linkInternos{
    /* Grosor de letra*/
    font-weight: 600;
    font-size: 20px;
    color: black;
    background-color: rgb(247, 163, 85);
    padding-top: 10px;
    height: 50px;
    /* Curvatura de bordes abajo izquierdo y abajo derecho*/
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    /* Sombra de caja*/
    box-shadow: 20px 25px 30px 10px #000;
}
.caja1, .caja2, .caja3 {
    /* Indicacion de colocacion de las 3 cajas en horizaontal*/
    display: inline-block;
    /* margen o distancia entre las cajas*/
    margin: 5px;
    margin-left: 20px;
}
.conjuntoCentral{
    /*Ajustes de alineacion de contenido (centrado)*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* Ajuste separacion entre lineas*/
    line-height: 30px;
}
.logoCentral{
    position: relative;
    top: 80px;
    left: 35px;
}
.galeriaFotos{
    position: relative;
    top:-350px;
    display:flex;
    align-items: center;
    /*UBICACION UNO ABAJO DEL OTRO*/
    flex-direction: column;
    text-align: center;
    align-content:flex-end;
    flex-wrap: wrap;
}
.piePagina{
    position: relative;
    margin-top: 100px;
    top: -10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: chocolate;
    font-size:medium;
    /* Creador de bordes*/
    border: 5px ridge black;
    box-shadow: 20px 25px 30px 10px #000;
}
.cotizador{
    font-size: 20px;
    border: 5px solid black;
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: stretch;
    justify-content: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Ajuste para subir o bajar cuadro*/
    margin-top: 300px;
    /*Curvatura de borde*/
    border-radius: 10%;
}
.botonCarga, .botonDescarga {
    font-size: large;
}

    

